<ion-view view-title="Map">
  <ion-content class="padding" scroll="false">
    <div class="map-content-container">
      <input id="pac-input" type="text" placeholder="Search..." style="display: none;">
      <div class="item item-body" id="map-div" />
    </div>
    <div id="info-div" style="display: none;">
      <div id="info-text"></div>
      <div id="info-buttons">
        <input type="hidden" id="parking-id">
        <button class="button button-positive" id="select-button">
          <i class="icon ion-checkmark-round button-icon"></i>
          Select
        </button>
        <button class="button button-assertive" id="cancel-button" style="display: none;">
          <i class="icon ion-close-round button-icon"></i>
          Cancel
        </button>
        <button class="button button-positive" id="route-button">
          <i class="icon ion-navigate button-icon"></i>
          Route
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
