<ion-view view-title="Map">
  <ion-content class="padding">
    <div class="list card">
      <input id="pac-input" type="text" placeholder="Search...">
      <div class="item item-body" id="map-div" />
    </div>
    <div class="list card" id="info-div" style="display: none;">
      <div id="info-text"></div>
      <div id="info-buttons">
        <input type="hidden" id="parking-id">
        <button class="button button-positive" id="select-button">
          Select
        </button>
        <button class="button button-assertive" id="cancel-button" style="display: none;">
          Cancel
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
