<ion-view view-title="Parking Info">
  <ion-content class="padding parking-tab">
    <div class="parking-timer"></div>
    <div>
        Parking expiry time: 
        <input type="datetime-local" name="parking-expiry-time" id="parking-expiry-time" ng-model="savedParking.parkingExpiryTime" ng-change="updateParkingExpiryTime()"></input>
    </div>
    <div id="parking-card"></div>
    <button id="testPush" class="button button-positive" ng-click="sendNotification()">
      test notification
    </button>
    </button>
  </ion-content>
</ion-view>
