<ion-view view-title="Settings">
  <ion-content class="padding" ng-controller="SettingsCtrl">
    <ul class="list">

      <label class="item item-input item-label">
        <span class="input-label">Default search radius in meters</span>
        <input type="number" ng-model="defaultRadius" ng-change="updateRadius()">
      </label>

      <h2>Notification Settings</h2>

      <label class="item item-input item-label">
        <span class="input-label">Reminder time in minutes</span>
        <input type="number" ng-model="defaultTime" ng-change="updateTime()">
      </label>

      <ion-toggle ng-model="vibrate" ng-change="updateVibrate()" ng-checked="vibrate">
        Vibrate
      </ion-toggle>

      <ion-toggle ng-model="sound" ng-change="updateSound()" ng-checked="sound">
        Play sound
      </ion-toggle>

    </ul>
  </ion-content>
</ion-view>
