#map-div {
  height: 100%;
  width: 100%;
}

#info-panel, #directions-panel {
  height: 100%;
  top: -100%;
  float: right;
  width: 35%;
  overflow: auto;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  position: relative;
  margin: 0;
}

#info-panel .card {
  height: 100%;
  margin: 0;
}

#info-panel .card .item-body {
  border-width: 0;
}

#info-text {
  padding-left: 10px;
}

#directions-panel {
  padding-left: 10px;
  font-size: 12px;
  overflow-x: hidden;
}

#directions-panel select, #directions-panel input {
  font-size: 15px;
}

#directions-panel select {
  width: 100%;
}

#info-buttons {
  text-align: center;
  width: 100%;
  position: absolute;
}

#info-buttons > .button {
  margin: 5px;
}

#info-buttons > .button {
  min-width: 100px;
}

.button .button-icon {
  margin-left: -8px;
  margin-right: 5px;
}

.button .button-icon:before {
  font-size: 16px;
}

#clear-route-button {
  margin-top: 5px;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input:focus {
  border-color: #4d90fe;
}

.map-content-container {
  height: 100%;
}

